<!doctype html>
<html ng-app="SalaryApp">
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
      <script src="salary.js"></script>

      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div ng-controller="SalaryController">
        <div>
            <div>{{title}}</div>
            <div>
                <form class="calc-form">
                    <label>Bruto salary:
                        <input
                            name="bruto"
                            type="number"
                            ng-model="bruto"
                            min="360"
                            required
                            >
                    </label>
                    <label>
                        Tax incentives. (Input persens number):
                        <input
                            name="incentives"
                            type="number"
                            min="0"
                            ng-model="incentives"
                        >
                    </label>
                    <select
                        ng-model="selectedCurrency"
                        ng-options="k as v for (k, v) in currencies"
                        >

                    </select>
                    <button ng-click="calculateNeto()" class="btn">Calculate</button>
                    <button ng-click="getNeto()" class="btn">Calculate on server</button>
                </form>
            </div>
            <div class="calc-res">
                <span>Your neto salary is: {{neto}}</span>
                <span>Server calculated neto salary is: {{serverNeto}}</span>
                <span>Server calculated Employee costs are: {{eployeeCosts}}</span>
            </div>
        </div>
    </div>
  </body>
</html>
