<!doctype html>
<html ng-app="SalaryApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="salary.js"></script>
  </head>
  <body>
    <div ng-controller="SalaryController">
        <div>
            <div>{{title}}</div>
            <div>
                <form>
                    <label>Bruto salary:
                        <input
                            name="bruto"
                            type="number"
                            ng-model="bruto"
                            min="360"
                            required
                            >
                    </label>
                    <button ng-click="calculateNeto()">Calculate</button>
                </form>
            </div>
            <div>
                <span>Your neto salary is: {{neto}}</span>
            </div>
        </div>
    </div>
  </body>
</html>
